<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet con Python y Flask</title>

    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/leaflet.css">
    
    <script src="/static/leaflet.js" async></script>
    <script src="/static/socket.io.min.js" async></script>
    <script src="/static/main.js" async></script>
</head>
<body>
    <button id="shareLocation">Compartir ubicación</button>
    <div id="map"></div>
</body>
</html>